@import url("https://fonts.googleapis.com/css?family=Kumbh+Sans");
* {
    margin: 0;
    border: 0;
   
}
.desktop-woman {
    display: none;  
}

  body {
    height: 100vh;
    background: rgb(117,100,232);
    background: linear-gradient(0deg, rgba(117,100,232,1) 0%, rgba(139,102,233,1) 50%, rgba(171,104,235,1) 100%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    
  }
  .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Kumbh sans;
    
  }
  .mobile{
   
    background-color: white;
    width: 21.875rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
  }
  .desktop {
    width: 500px;
    height: 500px;
    background-color: white;
    display: none;
    border-radius: 25px 0px 0px 25px;
  }
  .mobile-woman{
    height: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    margin-top: -8.5rem;
 
    
  }
  .mobile-background {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    margin-top: -6.5rem;
    padding-bottom: 2rem;
  }
  .arrow {
    float: right;
    margin-top: -2rem;
    margin-right: 1rem;
  }
  .accordion label{
    min-width: 320px;
    display: block;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid black;
  }
  .accordionitem h2 {
    font-weight: 800;
    font-size: 16px
  }
 
  .accordion p{
    color: #424242;
    padding: 10px;
    font-size: 0.8em;
    line-height: 1.7em;
    border-bottom: 1px solid #bdbdbd;
    visibility: hidden;
    opacity: 0;
    display: none;
    text-align: left;
    background-color: #fff;
    margin-top: -1px;
  }
  h2:hover {
    font-size: 17px;
  }
  #tm:checked ~ .hiddentext{
    display: block;
    visibility: visible;
    opacity: 1;
  }
 
  #tm:checked ~ .arrow {
    transform: rotate(180deg);
  }
  
  input#tm{
    display: none;
    position: relative;
  }
  
  #tn:checked ~ .hiddentext{
    display: block;
    visibility: visible;
    opacity: 1;
  }
  #tn:checked ~ .arrow {
    transform: rotate(180deg);
  }

  input#tn{
    display: none;
    position: relative;
  }
  
  #to:checked ~ .hiddentext{
    display: block;
    visibility: visible;
    opacity: 1;
  }
  #to:checked ~ .arrow {
    transform: rotate(180deg);
  }
  
  input#to{
    display: none;
    position: relative;
  }
  #tp:checked ~ .hiddentext{
    display: block;
    visibility: visible;
    opacity: 1;
  }
  #tp:checked ~ .arrow {
    transform: rotate(180deg);
  }
  
  input#tp{
    display: none;
    position: relative;
  }
  #tq:checked ~ .hiddentext{
    display: block;
    visibility: visible;
    opacity: 1;
  }
  #tq:checked ~ .arrow {
    transform: rotate(180deg);
  }
  input#tq{
    display: none;
    position: relative;
  }

  @media (min-width: 380px){
    
    .flex-container{
        flex-direction: row;
   
    }
    .desktop {
        display: flex;
        padding-top: 4px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .mobile {
        align-items: flex-start;
        border-radius: 0px 25px 25px 0px;
        padding-right: 10rem;
        height: 26.5rem;
        justify-content: center
        
    }
    .desktop-background {
        margin-top: -10rem;
        margin-left: -45rem;
        
    }
    h1 {
        padding-left: 1rem;
    }
    .mobile-woman {
        display: none;
    }
    .mobile-background {
        display: none;
    }
    .desktop-woman {
        display: block;
        width: 28rem;
        height: 25rem;
        margin-left: -28rem;
    }

  }
  